#implement{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 5rem;
   
}

.implementText{
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 900;
}




.greendot{
    background-color: green;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
}

.reditdot{
    background-color: rgb(203, 46, 46);
    width: 1rem;
    height: 1rem;
    border-radius: 50px;

    
}
.mediumdot{
    background-color: rgb(195, 203, 46);
    width: 1rem;
    height: 1rem;
    border-radius: 50px;

}
.radiosp{

    display: felx;
    justify-content: space-between; /* Add this line for spacing between labels */

   
}
.grievance{
    border-radius: 30px;
    display: flex;
    background-color: rgb(255, 254, 252);
    box-shadow: 0.5rem 0.2rem 1rem rgb(23, 23, 23);


}

.submitbtn{
    width: 5rem;
    height: 2rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
}